.case-bg{
    text-align: center;
    background-color: #1f2726;
  color: white;
  padding: 25px !important;
  padding-bottom: 0px !important;
  margin-bottom: 60px;
}
.cont-titre{
    padding-left:26px;
    h1{
        margin-bottom: 35px !important;
    }
}
.case-container{
    margin-top: 75px;
}