.roundBorder{
    height: 20px;
    width: 20px;
    border-radius: 150px;
    border-style:solid;
    border-color: orange;
    border-width: 1px;
    margin-top: 7px;
}

.roundOrange{
    height: 10px;
    width: 10px;
    border-radius: 150px;
    margin-top: 4px;
    background-color: orange;
}

.childTitle{
    color: orange;
}

.cont-job{
    margin-bottom: 50px;
}